// --------- Постоянные клиенты
.clients {
  @extend %section-mobail-tablet;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * $card-set-gap);
    margin-bottom: calc(-1 * $card-set-gap);
  }

  &__item {
    flex-basis: calc(100% / 2 - $card-set-gap);
    margin-right: $card-set-gap;
    margin-bottom: $card-set-gap;
  }

  &__logo-container {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    box-sizing: border-box;

    justify-content: center;
    align-items: center;

    border: 1px solid getColor('icon-border');
    border-radius: 4px;

    transition: border $timing-function-cubic;

    &:hover,
    &:focus,
    &:hover .clients__icon,
    &:focus .clients__icon {
      border-color: getColor('accent');
      fill: getColor('accent');
    }
  }

  &__icon {
    fill: rgba(175, 177, 184, 1);

    transition: fill $timing-function-cubic;
  }

  @media screen and (min-width: $tablet) {
    &__item {
      flex-basis: calc(100% / 3 - $card-set-gap);
      margin-right: $card-set-gap;
      margin-bottom: $card-set-gap;
    }

    &__item {
    }
  }
}
