// ----------- Шапка сайта
.header {
  position: relative;
  border-bottom: 1px solid rgba(236, 236, 236, 1);

  &__container {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__box-mobail {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    @extend %logo-style-text;

    color: getColor('logo');

    &-accent {
      color: getColor('accent');
    }
  }

  &__box-mobail.is-open .header__logo {
    visibility: hidden;
  }

  // -------------- Кнопка Меню
  &__batton {
    position: relative;
    width: 40px;
    height: 40px;

    border: none;

    background: none;

    &:hover .header__icon-button {
      fill: getColor('accent');
    }
  }

  &__icon-button {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    transition: fill $timing-function-cubic;
  }
}

// --------- Блок для мобильного меню
.menu-mobail {
  display: none;

  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  overflow-y: scroll;

  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;

  background-color: getColor('global-bacground');

  &.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__batton {
    width: 40px;
    height: 40px;

    border: none;

    background: none;

    &:hover .menu-mobail__icon-button {
      fill: getColor('accent');
    }
  }

  &__icon-button {
    transition: fill $timing-function-cubic;
  }
}

// --------- Навигация
.navigation__menu {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

.navigation__link {
  color: getColor('primary-text');
  text-decoration: none;

  transition: color $timing-function-cubic;

  &:hover,
  &:focus {
    color: getColor('accent');
  }

  &--carrent {
    color: getColor('accent');
  }
}
// -------
.contacts-mobail-box {
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
// ----------- Контакты
.contacts-mobail {
  margin-bottom: 64px;
  %all-style-contact {
    color: getColor('secondary-text');
    text-decoration: none;

    transition: color $timing-function-cubic;

    &:hover,
    &:focus {
      color: getColor('accent');
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__tell {
    @extend %all-style-contact;
    display: block;

    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    list-style-type: none;
  }

  &__mail {
    @extend %all-style-contact;

    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    list-style-type: none;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}

// ----- Соцсети в мобильно меню -------
.social-network-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__link {
    text-decoration: none;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;

    letter-spacing: 0.02em;

    color: getColor('accent');

    transition: color $timing-function-cubic;

    &:hover {
      color: #188ce8;
    }
  }

  &__item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  &__symbol {
    margin-left: 10px;
    margin-right: 10px;
  }
}
