// ------------- Футер
//-------------- LOGO
.footer {
  padding: 60px 0px;

  background-color: #2f303a;

  &__block--position {
    display: flex;
    align-items: baseline;
  }

  &__block-contact {
    margin-right: 70px;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 0;

    @extend %logo-style-text;

    color: getColor('logo-invers');
  }

  &__accent-logo {
    color: getColor('accent');
  }
}

// -------------- Контакты в подвале
.footer__locatyon {
  margin-bottom: 9px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.5;

  color: getColor('white-text');
}

.footer__contact-list:not(:last-child) {
  margin-bottom: 9px;
}

.footer__mail,
.footer__tell {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;

  color: getColor('contact-footer');

  transition: color $timing-function-cubic;

  &:focus,
  &:hover {
    color: getColor('accent');
  }
}

.footer__mail-position {
  margin-bottom: 9px;
}

// ----------- Соцсети в подвале
.social-media-footer {
  margin-right: 94px;

  &__titel {
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    color: getColor('white-text');
  }

  &__network {
    display: flex;
  }

  &__network-list:not(:last-child) {
    margin-right: 10px;
  }
}

.social-media-footer__more {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color $timing-function-cubic;

  &:hover,
  &:focus {
    background-color: getColor('accent');
  }
}

.social-media-footer__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: getColor('white-text');
}

// ------------ Подписка на рассылку
.subscribe__titel {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;

  color: getColor('white-text');
  margin-bottom: 20px;
}

.subscribe__form {
  display: flex;
}

.subscribe__input {
  width: 358px;
  height: 50px;

  margin-right: 12px;
  padding-left: 18px;

  font-size: 16px;
  line-height: 1.25;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background: rgba(47, 48, 58, 1);
  color: getColor('white-text');

  transition: border-color $timing-function-cubic;

  &:hover,
  &:focus {
    border-color: getColor('accent');
    outline: none;
  }
}

.subscribe__button {
  padding-top: 10px;
  padding-right: 29px;
  padding-bottom: 10px;
  padding-left: 29px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px;

  cursor: pointer;

  background: getColor('accent');
  color: getColor('white-text');

  transition: background $timing-function-cubic;

  &:hover,
  &:focus {
    background: #188ce8;
  }
}

.subscribe__icon {
  margin-left: 10px;

  fill: getColor('white-text');
}
