// ----Тело главной страницы
// ------Превью с заголовком
.primery {
  padding-top: 118px;
  padding-bottom: 118px;

  text-align: center;

  &__text {
    margin-bottom: $card-set-gap;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: getColor('white-text');
  }
  &__order-service {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    border: 1px solid #2196f3;
    border-radius: 4px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    color: getColor('white-text');
    background-color: getColor('accent');

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;

    cursor: pointer;

    transition: border-color $timing-function-cubic, background-color $timing-function-cubic;

    &:hover,
    &:focus {
      background-color: #188ce8;
      border: 1px solid #188ce8;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
}
