// --------- Постоянные клиенты
.clients {
  @extend %section;

  &__list {
    display: flex;
    margin-right: calc(-1 * $card-set-gap);
  }

  &__item {
    flex-basis: calc(100% / 6 - $card-set-gap);
    margin-right: $card-set-gap;
  }
}

.client__logo-container {
  display: flex;
  padding: 16px 30px;
  box-sizing: border-box;

  justify-content: center;
  align-items: center;

  border: 1px solid getColor('icon-border');
  border-radius: 4px;

  transition: border $timing-function-cubic;

  &:hover,
  &:focus,
  &:hover .clients__icon,
  &:focus .clients__icon {
    border-color: getColor('accent');
    fill: getColor('accent');
  }
}

.clients__icon {
  fill: rgba(175, 177, 184, 1);

  transition: fill $timing-function-cubic;
}
